<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - МотоДрайв</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/site.js"></script>

</head>
<body>
    <header>
        <nav class="nav-fill">
            <ul class="navbar">
                <div class="nav-left">
                <li><a asp-action="Index" asp-controller="Home" onclick="location.reload()"> Начало</a></li>

                    @{
                        if (User.IsInRole("Admin"))
                        {
                        <li><a asp-action="Index" asp-controller="Brands">Марки</a></li>
                        <li><a asp-action="Index" asp-controller="Models">Модели</a></li>
                        }
                    }
                <li><a asp-action="Models" asp-controller="Motorcycles">Марка и модели</a></li>



                <div class="dropdown"></
                <li>
                    <div class="row">
                        <a class="col" asp-action="Index" asp-controller="Motorcycles">Мотоциклети</a>
                        <a id="dropdown-btn" class="col">▼</a>
                    </div>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a asp-action="NewMotorcycles" asp-controller="Motorcycles">Нови мотоциклети</a></li>
                        <li class="dropdown-item"><a href="">Употребявани мотоциклети</a></li>
                    </ul>

                </li>
                </div>


                <div class="nav-logo">
                <li id="logo"><a asp-action="Index" asp-controller="Home" onclick="location.reload()"><img src="~/Images/de8bae12-7b90-46d1-89f6-9ff806d2dca3.png" alt="" /></a></li>
                </div>
                <div class="nav-right">
                <li><a asp-action="Contacts" asp-controller="Home">Контакти и сервиз</a></li>
                </div>
                <div class="right-corner">
                <li><a asp-area="Identity" asp-page="/Account/Register">Регистрация</a></li>
                <li><a asp-area="Identity" asp-page="/Account/Login">Вход</a></li>
                </div>
            </ul>
        </nav>
    </header>
    <div class="container-fluid p-0 m-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="pt-3 mt-5">
        <div class="footer-content row">
            <div class="footer-section about col">
                <h3>МотоДрайв</h3>
                <p>Вашият доверен партньор в света на мотоциклетите.</p>
            </div>

            <div class="footer-section links col">
                <h4>Бързи връзки</h4>
                <ul>
                    <li><a asp-action="Index" asp-controller="Home">Начало</a></li>
                    <li><a asp-action="Models" asp-controller="Motorcycles">Марка и Модели</a></li>
                    <li><a href="~/HTML/contacts.html">Контакти</a></li>
                    <li><a href="#">Услуги</a></li>
                </ul>
            </div>


            <div class="footer-section contact col">
                <h4>Свържете се с нас</h4>
                <p>Телефон: +359 888 123 456</p>
                <p>E-mail: motodrive@outlook.com</p>

            </div>


            <div class="footer-section social-media col-3">
                <h3>Социални мрежи</h3>
                <div class="row">
                    <img src="~/Images/fcb.png" alt="Alternate Text" />
                    <p class="col mt-3">MotoDrive_bg</p>
                </div>
                <div class="row">
                    <img src="~/Images/insta.png" alt="Alternate Text" />
                    <p class="col mt-3">MotoDrive_bg</p>
                </div>
                <div class="row">
                    <img src="~/Images/twitter.png" alt="Alternate Text" />
                    <p class="col mt-3">MotoDrive_bg</p>
                </div>
            </div>
        </div>

        <section class="copyright">
            <p>&copy; 2025 МотоДрайв. Всички права запазени.</p>
        </section>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
