@model ASPMotoDrive.Models.Model

@{
    ViewData["Title"] = "Delete";
}

<h1>Изтриване</h1>

<h3>Изтриване?</h3>
<div>
    <h4>Мотоциклет</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Марка
        </dt>
        <dd class = "col-sm-10">
            Модел
        </dd>
        <dt class = "col-sm-2">
            Година на производство
        </dt>
        <dt class="col-sm-2">
            Държава на производство
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brands.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfManuf)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CountryOfManuf)
        </dd>
        <dd class="col-sm-10">
            
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтриване" class="btn btn-danger" /> |
        <a asp-action="Index">Обратно към списъка</a>
    </form>
</div>
