@{
    ViewData["Title"] = "BootstrapTest";
}

<html>
<body>
    <div class="container my-5 border">
        <h1>This is my Bootstrap page</h1>
        <p>This is the first paragraph</p>
        <p>This is the second paragraph</p>
        <p>This is the third paragraph</p>

    </div>

    <div class="alert alert-success" role="alert">
        Bootstrap is working!
    </div>
</body>
</html>