@{
    ViewData["Title"] = "\"МотоДрайв\" - Начална страница";
}
<body>
    

    <h1 id="heading">Добре дошли в света на мотоциклетите -  МотоДрайв!</h1>

    <div class="image-placeholder">
        <img src="https://images.pexels.com/photos/2611691/pexels-photo-2611691.jpeg?auto=compress&cs=tinysrgb&w=600" />
    </div>


    <div class="about card">
        <h2>За нас</h2>
        <p>
            Ние от <b>"МотоДрайв"</b> сме посветени на предоставянето на качествени мотоциклети и отлично обслужване. С дългогодишен опит в индустрията, сме спечелили доверието на нашите клиенти.

            Предлагаме богат избор от нови и употребявани мотоциклети, както и професионален сервиз, технически прегледи и консултации при избор на мотор. Нашата цел е да направим вашето пътуване на две колела възможно най-безопасно и приятно.

            Всеки мотор, който предлагаме, преминава през строг технически контрол, за да сме сигурни, че отговаря на най-високите стандарти за безопасност и надеждност.

            Нашият екип от мотоентусиасти и механици е винаги на разположение, за да помогне с експертен съвет или бързо обслужване.

            Доверете се на "МотоДрайв" – мястото, където страстта към моторите се среща с професионализма. Превърнете всяко пътуване в приключение с нас!
        </p>
    </div>



    <div class="card-container ">

        <div class="mission card">
            <h2>Нашата мисия</h2>
            <p>
                <b> В "МотоДрайв"</b> вярваме, че мотоциклетът не е просто средство за придвижване – той е начин на живот, свобода и страст.
                Нашата мисия е да предоставим на клиентите ни не просто мотори, а цялостно преживяване – сигурност, удоволствие и доверие.
                Стремим се да бъдем водещ партньор за всеки мотоентусиаст, независимо дали е начинаещ или опитен ездач.
                Работим с грижа, професионализъм и внимание към детайла, за да направим всяко пътуване вълнуващо и безопасно.
            </p>

        </div>

        <div class="team card">
            <h2>Нашият екип</h2>
            <p>
                Екипът на <b>„МотоДрайв“</b> е съставен от страстни мотористи, опитни механици и отдадени консултанти, които споделят една мисия –
                да предложат най-доброто обслужване и качествени мотоциклети на своите клиенти.
                Ние вярваме, че зад всяка успешна покупка стои екип от професионалисти, които работят с грижа, внимание към детайла и истинска любов към моторите.
            </p>
        </div>
    </div>

   
</body>


</html>