@model List<ASPMotoDrive.Models.Motorcycle>
@{
    ViewData["Title"] = "ShoppingCart";
    
}

<body>
    <form asp-action="ShoppingCart" asp-route-data="Model" asp-controller="Orders" method="post">
        <div class="cart-container">
            <h1>Пазарска кошница</h1>

            <div class="cart-items">

                <div class="cart-item">
                    @{
                        foreach(var item in Model)
                        {
                            <img src="@item?.ImageURL" alt="Мотоциклет">
                        <div class="item-details">
                            <h2>@item?.Models?.Brands?.Name @item?.Models?.Name</h2>
                            <p>Година: @item?.Models?.YearOfManuf</p>
                            <p>Цена: @item?.Price</p>
                            <button class="remove-btn" asp-action="Delete" asp-controller="Orders">Премахни</button>
                        </div>
                            <input type="hidden" name="MotorcycleId" value="@item?.Id" />
                            <input type="hidden" name="UserId" value="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value" />
                            <input type="hidden" name="DateRegister" value="@DateTime.Now" />
                        }
                        
                    }

                    <button class="checkout-btn" asp-action="ShoppingCart">Поръчай</button>

                </div>
            </div>


        </div>
    
    </form>

</body>
