@{
    ViewData["Title"] = "Models";
}

<head>
    <link rel="stylesheet" href="~/css/site.css">
    <script src="JS/site.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
    <title>МотоДрайв - света на мотоциклетите!</title>
</head>
<body>
    
        <div class="product-container row" >

        <section class="filter-section col-3" >
                <h2>Търси мотоциклет</h2>
                <form asp-action="Models" method="post" asp-controller="Motorcycles" class="filter-form">
                    <div class="form-group">
                        <label for="brand">Марка:</label>
                        <select id="brand" action="models.cshtml" name="brand">
                            <option value="all">Всички</option>

                            <option value="Honda">
                                Honda

                            </option>
                            <option value="Yamaha">
                                Yamaha

                            </option>
                            <option value="BMW">
                                BMW

                            </option>
                            <option value="KTM">
                                KTM
                            </option>
                        </select>
                    </div>



                    <div class="form-group">
                        <label for="year">Година:</label>
                        <input name="year">
                    </div>

                    <div class="form-group">
                        <label for="price">Макс. цена(лв):</label>
                        <input type="number" id="price" name="price">


                    </div>

                    <button type="submit">Филтрирай</button>
                </form>
            </section>

            <div class="models heading col-9 ">
                <h1>Мотоциклети</h1>

                <div>
                    @{
                        if (Model.Count == 0)
                        {
                            <h2 id="no-articles">Не бяха намерени артикули</h2>
                        }
                        else
                        {
                            <h2 id="articles"> Намерени мотоциклети(@Model.Count)</h2>
                        }
                    }
                </div>
                  <div class="row">
                    <section class="products col d-flex flex-wrap align-content-start " >

                        @{
                            foreach (var moto in Model)
                            {
                                <div class="motorcycle card">
                                    <p>@moto?.Models?.Brands?.Name @moto?.Models?.Name </p>
                                    <p>Състояние: @moto?.TypeUsage</p>

                                    @if (moto?.TypeUsage.Equals(TypeUsage.Употребяван))
                                    {
                                        <p>Пробег: @moto?.Mileage км</p>
                                    }

                                    <p>Цена : @moto?.Price лв. </p>
                                    <img id="product-image" src="@moto?.ImageURL" />
                                    <p>Година : @moto?.Models?.YearOfManuf </p>
                                    <a class="button-link" asp-action="Details" asp-controller="Motorcycles" asp-route-id="@moto?.Id" class="more-info">Повече информация</a>
                                </div>
                            }

                        }


                    </section>
                </div>

            </div>
        </div>
</body>