@model ASPMotoDrive.Models.Brand

@{
    ViewData["Title"] = "Delete"; //ViewBag.Title = "Delete";
}

<h1>Изтриване</h1>

<h3>Изтриване?</h3>
<div>
    <h4>Марка</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <span>Марка</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
             <span>Описание</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтриване" class="btn btn-danger" /> |
        <a asp-action="Index">Обратно към списъка</a>
    </form>
</div>
